[submodule "Angular/Forms - Model Driven/Repo"]
	path = Angular/Forms - Model Driven/Repo
	url = https://github.com/jpalomarbl/modelDrivenForms_Angular
[submodule "Angular/Forms - Reactive/Repo"]
	path = Angular/Forms - Reactive/Repo
	url = https://github.com/jpalomarbl/reactiveForms_Angular
[submodule "Angular/Consuming an API/Repo"]
	path = Angular/Consuming an API/Repo
	url = https://github.com/jpalomarbl/blog-angular
[submodule "Angular/Internationalization - i18n/ngx-translate/Repo"]
	path = Angular/Internationalization - i18n/ngx-translate/Repo
	url = https://github.com/jpalomarbl/Desarrollo-frontend-avanzado-PEC
[submodule "Development methodologies/BEM/Repo"]
	path = Development methodologies/BEM/Repo
	url = https://github.com/jpalomarbl/herramientasHTMLyCSS2-PEC1
[submodule "Angular/Observables (rxjs)/Repo"]
	path = Angular/Observables (rxjs)/Repo
	url = https://github.com/jpalomarbl/Desarrollo-frontend-avanzado-PEC
[submodule "Angular/REDUX/Repo"]
	path = Angular/REDUX/Repo
	url = https://github.com/jpalomarbl/counter-app-redux.git
[submodule "Angular/REDUX/Example TODO app"]
	path = Angular/REDUX/Example TODO app
	url = https://github.com/jpalomarbl/todo-app-redux
[submodule "Exercises/Designing a web from a poster/Repo"]
	path = Exercises/Designing a web from a poster/Repo
	url = https://github.com/jpalomarbl/web-page-poster.git
[submodule "Angular/Performance/Repo"]
	path = Angular/Performance/Repo
	url = https://github.com/jpalomarbl/angular-optimization
